body {
    background-color: ghostwhite;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

header {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background-color: gray;
}



.logo {
    width: 60px;
    height: 60px;
} 

